<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="/img/logo.jpg" alt="logo" srcset="" height="400px" width="400px;"
                                style="margin-left: 20px;">
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>

                                {{#if success_msg}}
                                {{message}}
                                <div class="alert alert-info" style="margin: 0px 15px 10px; border-radius: 5px"
                                    role="alert">{{success_msg}}
                                </div>
                                {{/if}}
                                {{#if error_msg}}
                                <div class="alert alert-danger" style="margin: 0px 15px 0px; border-radius: 55px"
                                    role="alert">{{error_msg}}
                                </div>
                                {{/if}}
                                {{#if errors}}{{#each errors}}
                                <div class="alert alert-danger" style="margin: 0px 15px 0px" role="alert">{{msg}}</div>
                                {{/each}} {{/if}}
                                <br>
                                <form class="user" action="/login" method="POST">
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user"
                                            id="exampleInputEmail" aria-describedby="emailHelp"
                                            placeholder="Enter Email Address..." name="email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password" name="password">
                                    </div>

                                    <button class="btn btn-primary btn-user btn-block">
                                        Login
                                    </button>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="/forgot-password">Forgot Password?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>